/* everything pages */
.clear-both{ clear:both }
.float-left{ float: left }
.float-right{ float: right }

/* margin */
.margin-5{ margin: 5px }
.margin-10{ margin: 10px }

.margin-top-2{ margin-top: 2px }
.margin-top-3{ margin-top: 3px }
.margin-top-5{ margin-top: 5px }
.margin-top-10{ margin-top: 10px }
.margin-top-15{ margin-top: 15px }
.margin-top-20{ margin-top: 20px }

.margin-bottom-2{ margin-bottom: 2px }
.margin-bottom-3{ margin-bottom: 3px }
.margin-bottom-5{ margin-bottom: 5px }
.margin-bottom-10{ margin-bottom: 10px }
.margin-bottom-15{ margin-bottom: 15px }
.margin-bottom-20{ margin-bottom: 20px }

.margin-left-2{ margin-left: 2px }
.margin-left-3{ margin-left: 3px }
.margin-left-5{ margin-left: 5px }
.margin-left-10{ margin-left: 10px }
.margin-left-15{ margin-left: 15px }
.margin-left-20{ margin-left: 20px }

.margin-right-2{ margin-right: 2px }
.margin-right-3{ margin-right: 3px }
.margin-right-5{ margin-right: 5px }
.margin-right-10{ margin-right: 10px }
.margin-right-15{ margin-right: 15px }
.margin-right-20{ margin-right: 20px }
/* padding */
.padding-5{ padding: 5px }
.padding-10{ padding: 10px }

.padding-top-2{ padding-top: 2px }
.padding-top-3{ padding-top: 3px }
.padding-top-5{ padding-top: 5px }
.padding-top-10{ padding-top: 10px }
.padding-top-15{ padding-top: 15px }
.padding-top-20{ padding-top: 20px }

.padding-bottom-2{ padding-bottom: 2px }
.padding-bottom-3{ padding-bottom: 3px }
.padding-bottom-5{ padding-bottom: 5px }
.padding-bottom-10{ padding-bottom: 10px }
.padding-bottom-15{ padding-bottom: 15px }
.padding-bottom-20{ padding-bottom: 20px }

.padding-left-2{ padding-left: 2px }
.padding-left-3{ padding-left: 3px }
.padding-left-5{ padding-left: 5px }
.padding-left-10{ padding-left: 10px }
.padding-left-15{ padding-left: 15px }
.padding-left-20{ padding-left: 20px }

.padding-right-2{ padding-right: 2px }
.padding-right-3{ padding-right: 3px }
.padding-right-5{ padding-right: 5px }
.padding-right-10{ padding-right: 10px }
.padding-right-15{ padding-right: 15px }
.padding-right-20{ padding-right: 20px }

/* border */
.border-1{ border: 1px solid }
/* page */
body{
	background: #09458f;
}
.fixed-side{
	position: relative;
	float: left;
	z-index: 999999;
	width: 50%;
	padding-bottom:5px;
}
.fixed-side #logo{
	/*background:#911b6a;*/
	height: 180px;
	width: 100%;
	float: right;
	margin-right: 270px;
	text-align: right;
	
	-webkit-box-shadow: 1px 1px 3px #3f3f3f;
	-moz-box-shadow: 1px 1px 3px #3f3f3f;
	box-shadow: 1px 1px 3px #3f3f3f;
	
	border-right: 1px solid #911b6a;
	border-bottom: 1px solid #911b6a;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}
.fixed-side #logo a{
    display: block;
    float: right;
    height: 180px;
    width: 148px;
	/*background: url("../img/design_store.png") center center no-repeat;*/
}
.fixed-side .btn-tw, 
.fixed-side .btn-fb{
	height: 38px;
	width: 100%;
   	float: right;
   	margin-right: 485px;
   	margin-top: 5px;
   	background:#fafbeb;
	
	-webkit-box-shadow: 1px 1px 3px #3f3f3f;
	-moz-box-shadow: 1px 1px 3px #3f3f3f;
	box-shadow: 1px 1px 3px #3f3f3f;
	
	border-top: 1px solid #fafbeb;
	border-right: 1px solid #fafbeb;
	border-bottom: 1px solid #fafbeb;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#header{ 
	height: 105px;
    margin: 0 auto;
    position: relative;
    width: 840px;
}
#header .registration{
    float: right;
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
    width: 518px;
}
#header .registration a{
 	background: url("../img/registration.png") no-repeat scroll center center transparent;
 	display: block;
 	width: 100%;
 	height: 100%;
}
/* BEGIN MENU */
#header nav {
	position: absolute;
    top: 70px;
    width: 100%;
	background:#df638f;
	
	-webkit-box-shadow: 1px 1px 2px #3f3f3f;
	-moz-box-shadow: 1px 1px 2px #3f3f3f;
	box-shadow: 1px 1px 2px #3f3f3f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#header nav .navigation{
	height: 30px;
	width: 80%;
	margin:auto;
	text-align:right;
	
	font-family: 'Lucida Grande';
    font-size: 16px;
    font-weight: bolder;
    height: 30px;
    margin: auto;
    text-align: right;
    text-transform: uppercase;
    width: 95%;
}
#header nav .navigation li{
    display:inline-block; 
    margin-top:5px;
}
#header nav .navigation li a{
	margin-right: 20px;
	color: #fafbeb;
}
/* END MENU */
#footer{
	
}
